.header{
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    color: #000;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

ul{
    list-style-type: none;
    float: right;
    color: #69696a;
}

.clearfix{
    clear: both;
}

h4{
    width: 100px;
    float: left;
    color: #000;
}

h3{
    font-size: 18pt;
}


.pink{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(247, 136, 167, 0.6);
    top: 40px;
    left: 40px;
    position: absolute;
}

.purple{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(207, 130, 213, 0.6);
    top: 60px;
    left: 210px;
    position: absolute;
}

.orange{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color:rgba(247, 193, 162, 0.7);
    top: 140px;
    left: 170px;
    position: absolute;
}

#hire-us{
    text-align: center;
    width: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: white;
    text-decoration-style: none;
    border-radius: 25px;
}

a{
    text-decoration: none;
    color: #69696a;
    
}

li{
    padding: 10px;
    display: inline-block;
}

span{
    display: block;
}

.left-middle{
    float: left;
    width: 50%;
}

p{
    margin: 10px;
    border-left: solid 2px;
    padding-left: 20px;
    color: #69696a;
    border-color: #69696a;
}

.right-middle{
    float: right;
    width: 50%;
    position: relative;
}


.scroll-element{
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    text-align: center;
    position: fixed;
    left: 50%;
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
}